In [1]:
from espn_api.basketball import League, Matchup, Team
from activity.myUtil import get_opponent_team, get_my_team
from espn_api.basketball.week import Week
from espn_api.basketball.roster_week_predictor import RosterWeekPredictor

from IPython.display import HTML, display
import tabulate

In [2]:
espn_s2 = "AECc%2BKMx5L8l9Rai5PHG%2FT%2Fjtw%2BR%2FZozX391uxpta1J6tD61%2F4NV88%2BVPlCSe0Wjcg0J9jJ0oTJ%2BMkehJLT8MSDfgiubWB9F1n3H%2BnTHWc9OTkzM2ceQFGPiA%2B9AF4yQzt0I3%2FdCgk%2BdQLbgybhS6y1yRS9NIDyfXMSgcqFqRbn5F7zBTzwu9A%2BD2Pi6g6KMR29PbmNbtxSrCJkfbF%2BaZtrpqDbHBZhLyfqOAhQIDx0q1iD0u1DkhxVNoRnxx%2FmEvS%2FHEJZWmfvZM%2F0IAHxPrfVx"
swid="{3C4A75B6-F84B-48AE-8A75-B6F84B48AE47}"

In [3]:
league = League(league_id=30695, year=2021, espn_s2=espn_s2, swid=swid)

In [4]:
table_output = [("Team Name", "Team Id")]
[table_output.append((team.team_name, team.team_id)) for team in league.teams]
display(HTML(tabulate.tabulate(table_output, tablefmt='html')))

Put your **team id** into the variable below:

In [10]:
MY_TEAM_ID = 2

In [11]:
schedule = league.get_team_data(MY_TEAM_ID).schedule
table_output = [("Week Id", "Opponent Team Name")]
[table_output.append((week_id + 1, get_opponent_team(matchup, MY_TEAM_ID).team_name)) for week_id, matchup in enumerate(schedule)]
display(HTML(tabulate.tabulate(table_output, tablefmt='html')))

In [7]:
WEEK_ID = 3

In [8]:
currWeek = Week(league, WEEK_ID)

In [9]:
predicted_points_team_name_map = {}
number_of_games_team_name_map = {}
for team in league.teams:
    predictor = RosterWeekPredictor(team.roster, currWeek)
    predicted_points_team_name_map[team.team_name] = predictor.predict()
    number_of_games_team_name_map[team.team_name] = predictor.get_total_number_of_games()

In [10]:
def get_tuple_average(tup):
    return (tup[0] + tup[1]) / 2

In [11]:
team_scores = {}
for team in league.teams:
    predicted_points = predicted_points_team_name_map[team.team_name]
    team_scores[team.team_name] = predicted_points[0], predicted_points[1], get_tuple_average(predicted_points)

In [12]:
table_output = []
for team_name, scores in team_scores.items():
    lo, hi, avg = scores
    table_output.append((team_name, number_of_games_team_name_map[team_name], lo, hi, avg))
table_output.sort(reverse=True, key=lambda x: x[-1])

In [13]:
table_output.insert(0, ("Team Name", "# of games", "Low", "High", "Avg"))
display(HTML(tabulate.tabulate(table_output, tablefmt='html')))

In [14]:
match_up_points = []
match_up_points.append(["Home Team", "Estimate Points", "# of Games", "Away Team", "Estimate Points", "# of Games", "+/-"])
for matchup in league.scoreboard():
    home_team_average = team_scores[matchup.home_team.team_name][-1]
    away_team_average = team_scores[matchup.away_team.team_name][-1]
    match_up_points.append([matchup.home_team.team_name, home_team_average, number_of_games_team_name_map[matchup.home_team.team_name],
                            matchup.away_team.team_name, away_team_average, number_of_games_team_name_map[matchup.away_team.team_name],
                           home_team_average - away_team_average])

In [15]:
display(HTML(tabulate.tabulate(match_up_points, tablefmt='html')))

In [16]:
league.get_team_data(MY_TEAM_ID).roster[0].eligibleSlots

['PG', 'G', 'G/F', 'UT', 'BE', 'IR']

In [7]:
from espn_api.basketball.line_up_editer import LineUpEditor

editor = LineUpEditor(league, MY_TEAM_ID)
# editor.bench_all_players(MY_TEAM_ID, 14)

In [8]:
editor.get_optimized_line_up(league.get_team_data(MY_TEAM_ID).roster)

[(4277905, 0),
 (3149673, 3),
 (6477, 4),
 (2527963, 1),
 (4065648, 2),
 (4251, 11),
 (4432816, 11),
 (3064290, 11),
 (4277847, 11),
 (3064440, 11)]

In [9]:
editor.fill_line_up(25)

Failed to bench player  Player(Jayson Tatum)
Failed to change line up for player  4065648